body {
    font-family: Arial, sans-serif;
    background-color: #a158af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px; 
}

button {
    background-color: #532366;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #471e5a;
}

input[type="date"] {
    cursor: pointer;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #580579;
}